DATABASE_URL=
SESSION_SECRET=
PORT=3000
VOTE_COOLDOWN_ENABLED=false
VOTE_COOLDOWN_MINUTES=10
ROLE_EXPIRES_AFTER_HOURS=24
CREATOR_USERNAME=admin
CREATOR_PASSWORD=troque-essa-senha
COMMENT_COOLDOWN_MINUTES=5
